{% extends "base.html" %}
{% load static %}
{% block title %}SMRC - About Us{% endblock %}
{% block content %}

<div role="main" class="main">
   <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url('{% static 'img/page-header/srmc-header.png' %}');">
      <br>
      <br>
      <div class="container">
         <div class="row mt-5">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
               <h1 class="text-9 font-weight-bold">Who are We</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
               <ul class="breadcrumb breadcrumb-light d-block text-center">
                  <li>
                     <a href="{% url 'dashboard' %}">Home</a>
                  </li>
                  <li class="active">About us</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <div class="container pb-1">
      <div class="row pt-4">
         <div class="col">
            <div class="overflow-hidden mb-3">
               <h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                  <span>About </span>
                  <span class="word-rotator-words bg-primary">
                     <b class="is-visible">SRMC</b>
                  </span>
               </h2>
            </div>
         </div>
      </div>
      <div class="row mb-2">
         <div class="col-lg-10">
            <div class="overflow-hidden">
               <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250"> Founded in <strong>May 2022</strong> as <strong>SRMC Credit Collection Services</strong>, we built our reputation on ethical debt recovery and professional accounts receivable management. We quickly became a trusted partner for businesses across the Philippines by prioritizing both financial results and the preservation of client relationships. <br>
                  <br> As our expertise grew, so did our horizons. We transitioned to <strong>SRMC Global Link Solutions</strong>, expanding our physical footprint to better serve our growing network. <br>
                  <br> We are more than a collection agency—we are a global bridge. By combining our roots in Collection management with high-tier customer support, we help businesses thrive through seamless, professional, and effective global links.
               </p>
            </div>
         </div>
      </div>
   </div>
   <section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
      <div class="container py-4">
         <div class="row align-items-center">
            <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
               <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                  <div>
                     <img alt="" class="img-fluid" src="{% static 'img/generic/asian-corporate1.png' %}">
                  </div>
                  <div>
                     <img alt="" class="img-fluid" src="{% static 'img/generic/asian-corporate2.png' %}">
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="overflow-hidden mb-2">
                  <h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Why Chose <strong class="font-weight-extra-bold">SRMC</strong>
                  </h2>
               </div>
               <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                  <a href="#">SRMC</a> Credit Collection Services exists to provide professional and effective collection services, always striving to serve our clients in the best way possible. Our unique approach is not only what differentiates us, but also what makes us successful.
               </p>
               <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">We provide a broad range of services and solutions to help organizations facilitate change, achieve their vision, and optimize performance and productivity.</p>
            </div>
         </div>
      </div>
   </section>
   <div class="container">
      <div class="row mt-5 py-3">
         <div class="col-md-6">
            <div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
               <section class="toggle active mt-0">
                  <a class="toggle-title">Our Vision</a>
                  <div class="toggle-content">
                     <p>Our vision for debt collection is to create a fair and compassionate environment where creditors and debtors can work together to resolve outstanding debts. We strive to fodter understanding and empathy, ensuring that debtors are offered reasonable options for repayment and support in overcoming financial challenges, by promoting open and respectful communication. We aim to minimize the negative impact of debt while helping individuals regain control of their financial well being</p>
                  </div>
               </section>
               <section class="toggle">
                  <a class="toggle-title">Our Mission</a>
                  <div class="toggle-content">
                     <p>Our Mission in debt collection is to responsibly and ethically assist creditors in recovering outstanding debts while treating debtors with respect and dignity. We aim to facilitate positive communication, find mutually beneficial solutions and provide guidance to individuals struggling with financial obligations.</p>
                  </div>
               </section>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row pb-3">
               <h2 class="font-weight-normal text-7">Our <span class="font-weight-bold">Future Plans</span>
               </h2>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="feature-box feature-box-style-2 mb-2 d-flex align-items-center">
                        <div class="feature-box-icon me-2">
                           <i class="icons bi bi-people text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                           <p class="mb-0">New Client Partnership</p>
                        </div>
                     </div>
                     <div class="feature-box feature-box-style-2 mb-2 d-flex align-items-center">
                        <div class="feature-box-icon me-2">
                           <i class="icons bi bi-megaphone text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                           <p class="mb-0">Marketing business plan for a new product(s)</p>
                        </div>
                     </div>
                     <div class="feature-box feature-box-style-2 mb-2 d-flex align-items-center">
                        <div class="feature-box-icon me-2">
                           <i class="icons bi bi-person-check text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                           <p class="mb-0">Client Centric Approach</p>
                        </div>
                     </div>
                     <div class="feature-box feature-box-style-2 mb-2 d-flex align-items-center">
                        <div class="feature-box-icon me-2">
                           <i class="icons bi bi-graph-up-arrow text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                           <p class="mb-0">Mutual Growth Focus</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <hr class="solid my-5">
         </div>
      </div>
      <div class="row mb-5 pb-3">
         <div class="col-12 mb-4 text-center">
            <h2 class="font-weight-normal text-7">Our <span class="font-weight-bold">Goals</span>
         </div>
         <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
            <div class="card card-background-image-hover border-0 h-100" style="background-image: url('{% static 'img/generic/core-values.png' %}'); min-height: 400px;">
               <div class="card-body text-center p-5 d-flex flex-column justify-content-center">
                  <i class="icon-layers bi bi-diagram-3 text-color-primary text-10"></i>
                  <h4 class="card-title mt-2 mb-3 text-5 font-weight-bold">Core Values</h4>
                  <p class="card-text mb-3 font-weight-normal"> Defining our operations with unwavering integrity. </p>
                  <ul class="list-unstyled mb-4">
                     <li>• Integrity</li>
                     <li>• Transparency</li>
                     <li>• Accountability</li>
                  </ul>
                  <a href="#" class="btn btn-dark btn-modern mt-auto">Learn More</a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
            <div class="card card-background-image-hover border-0 h-100" style="background-image: url('{% static 'img/generic/partnership.png' %}'); min-height: 400px;">
               <div class="card-body text-center p-5 d-flex flex-column justify-content-center">
                  <i class="icon-layers bi bi-people text-color-primary text-10"></i>
                  <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Clients - Partnerships Built on Trust</h4>
                  <p class="card-text">Dedicated to lasting success with reliable service, our collectors and skip tracers work smarter through challenges to achieve results others can’t.</p>
                  <a href="#" class="btn btn-dark btn-modern mt-auto">Learn More</a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
            <div class="card card-background-image-hover border-0 h-100" style="background-image: url('{% static 'img/generic/key-strengths.png' %}'); min-height: 400px;">
               <div class="card-body text-center p-5 d-flex flex-column justify-content-center">
                  <i class="icon-layers bi bi-key text-color-primary text-10"></i>
                  <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Key Strengths - Unlocking Potential</h4>
                  <p class="card-text">We create value through strategic solutions and expert capabilities, helping clients achieve lasting success.</p>
                  <a href="#" class="btn btn-dark btn-modern mt-auto">Learn More</a>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <hr class="solid my-2">
            </div>
         </div>
         <!-- <div class="row mt-lg-5">
            <div class="col-12 mb-4 text-center">
               <div style="display: inline-block; background: #0039a2; color: #fff; padding: 12px 40px; position: relative; font-size: 1.5rem; font-weight: bold;"> Awards & Recognition
                  <span style="position: absolute; left: -25px; top: 0; width: 0; height: 0; border-top: 30px solid #0039a2; border-left: 25px solid transparent;"></span>
                  <span style="position: absolute; left: -25px; bottom: 0; width: 0; height: 0; border-bottom: 30px solid #0039a2; border-left: 25px solid transparent;"></span>
                  <span style="position: absolute; right: -25px; top: 0; width: 0; height: 0; border-top: 30px solid #0039a2; border-right: 25px solid transparent;"></span>
                  <span style="position: absolute; right: -25px; bottom: 0; width: 0; height: 0; border-bottom: 30px solid #0039a2; border-right: 25px solid transparent;"></span>
               </div>
            </div>
            <div class="col-lg-6">
               <h5 class="text-uppercase mt-4"></h5>
               <div class="thumb-info thumb-info-side-image thumb-info-no-zoom align-items-center">
                  <div class="thumb-info-side-image-wrapper">
                     <img src="{% static 'img/blog/square/award-1.png' %}" class="img-fluid" alt="" style="width: 200px;">
                  </div>
                  <div class="thumb-info-caption">
                     <div class="thumb-info-caption-text text-3">
                        <h5 class="text-uppercase mb-2">TOP 1 THIRD PARTY COLLECTION AGENCY “FIRST QUARTER”</h5>
                        <p class="py-0 pe-5 line-height-8">TOP 1 THIRD PARTY</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <h5 class="text-uppercase mt-4 text-end"></h5>
               <div class="thumb-info thumb-info-side-image thumb-info-side-image-right thumb-info-no-zoom align-items-center">
                  <div class="thumb-info-caption">
                     <div class="thumb-info-caption-text text-3 text-end">
                        <h5 class="text-uppercase mb-2">TOP 1 THIRD PARTY COLLECTION AGENCY “SECOND QUARTER” </h5>
                        <p class="py-0 ps-5 line-height-8">TOP 1 THIRD PARTY</p>
                     </div>
                  </div>
                  <div class="thumb-info-side-image-wrapper">
                     <img src="{% static 'img/blog/square/award-2.png' %}" class="img-fluid" alt="" style="width: 200px;">
                  </div>
               </div>
            </div>
         </div> -->
      </div>
   </div>
</div>

{% endblock %}
